<div id="statusbar">
    <div class="sb-left">
        <span class="sb-dot"></span>
        <span class="sb-name">Allan Debastiani</span>
        <span class="sb-sep">::</span>
        <span id="sb-section">hero</span>
    </div>
    <div class="sb-right">
        <span class="sb-stack">Blazor&nbsp;·&nbsp;.NET&nbsp;·&nbsp;PostgreSQL</span>
        <span class="sb-sep">|</span>
        <span id="sb-clock"></span>
    </div>
</div>

