<div class="d-flex justify-center pb-8 pt-8">
    <img src="img/favicon/favicon.ico" alt="allandeba.dev.br" width="200" />
</div>

<MudNavMenu>
    <MudNavLink Href="/" Icon="@Icons.Material.Filled.Home" Match="NavLinkMatch.All">Home</MudNavLink>
    <MudNavLink Href="/dashboard" Icon="@Icons.Material.Filled.Dashboard" Match="NavLinkMatch.Prefix">Dashboard</MudNavLink>
    <MudNavLink Href="/evolutionApi" Icon="@Icons.Material.Filled.Api" Match="NavLinkMatch.Prefix">Evolution Api</MudNavLink>
    <MudNavLink Href="/sair" Icon="@Icons.Material.Filled.Logout">Sair</MudNavLink>
</MudNavMenu>